In [1]:
import pandas as pd

In [7]:
train_matrix = pd.read_csv('matrix_1117.csv')
train_matrix

      hour  is_workday  line10  line15
0        6           1    1118     521
1        7           1    4448    1945
2        8           1    4964    2617
3        9           1    3158    1597
4       10           1    2691    1032
5       11           1    1965     832
6       12           1    1963     751
7       13           1    1934     739
8       14           1    1946     799
9       15           1    2209     806
10      16           1    2517     959
11      17           1    3744    1461
12      18           1    4277    2066
13      19           1    2500    1370
14      20           1    1762     855
15      21           1    1735     649
16       6           0     771     340
17       7           0    2221    1099
18       8           0    2861    1787
19       9           0    2960    1475
20      10           0    2456    1215
21      11           0    2085    1059
22      12           0    2103     873
23      13           0    2088     937
24      14           0    2073     894
25      15           0    2194     910
26      16           0    2247    1038
27      17           0    2248    1363
28      18           0    2317    1422
29      19           0    1727     733
...    ...         ...     ...     ...
2178     8           1    4992    2317
2179     9           1    3095    1499
2180    10           1    2802    1252
2181    11           1    2000    1079
2182    12           1    1840     789
2183    13           1    2060     968
2184    14           1    2189     915
2185    15           1    2471     851
2186    16           1    2835    1130
2187    17           1    3761    1626
2188    18           1    3747    1690
2189    19           1    2024    1164
2190    20           1    1654     773
2191    21           1    1390     757
2192     6           1    1123     324
2193     7           1    4240    1608
2194     8           1    4561    2276
2195     9           1    3165    1627
2196    10           1    2492    1206
2197    11           1    2132     970
2198    12           1    2147     836
2199    13           1    2317    1032
2200    14           1    2247    1121
2201    15           1    2619    1147
2202    16           1    3230    1266
2203    17           1    4117    1879
2204    18           1    3584    1875
2205    19           1    2495    1525
2206    20           1    1880    1094
2207    21           1    2068     825

[2208 rows x 4 columns]

In [33]:
matrix_line10 = train_matrix.as_matrix(columns=['hour','is_workday','line10'])
matrix_line10

array([[   6,    1, 1118],
       [   7,    1, 4448],
       [   8,    1, 4964],
       ...,
       [  19,    1, 2495],
       [  20,    1, 1880],
       [  21,    1, 2068]])

In [40]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import cross_validation

X = train_matrix.as_matrix(columns=['hour','is_workday']) #get X, y
y10 = train_matrix.as_matrix(columns=['line10']).ravel()
y15 = train_matrix.as_matrix(columns=['line15']).ravel()

X_train, X_test, y10_train, y10_test, y15_train, y15_test = cross_validation.train_test_split(
    X, y10, y15, test_size=0.2, random_state=0)

clf10 = RandomForestRegressor(n_estimators=500)
clf10 = clf10.fit(X_train, y10_train)

clf15 = RandomForestRegressor(n_estimators=500)
clf15 = clf15.fit(X_train, y15_train)

print(clf10.score(X_train, y10_train))
print(clf10.score(X_test, y10_test))
print(clf15.score(X_train, y15_train))
print(clf15.score(X_test, y15_test))

0.94681326093
0.949378302365
0.927900378247
0.927459532652

In [37]:
print(y15_train.shape)

(1766,)

In [16]:
clf.score(X, y)

0.94764535015584883

In [21]:
predict_matrix = pd.read_csv('predict_1117.csv')
predict_matrix

     hour  is_workday
0       6           0
1       7           0
2       8           0
3       9           0
4      10           0
5      11           0
6      12           0
7      13           0
8      14           0
9      15           0
10     16           0
11     17           0
12     18           0
13     19           0
14     20           0
15     21           0
16      6           0
17      7           0
18      8           0
19      9           0
20     10           0
21     11           0
22     12           0
23     13           0
24     14           0
25     15           0
26     16           0
27     17           0
28     18           0
29     19           0
..    ...         ...
82      8           1
83      9           1
84     10           1
85     11           1
86     12           1
87     13           1
88     14           1
89     15           1
90     16           1
91     17           1
92     18           1
93     19           1
94     20           1
95     21           1
96      6           1
97      7           1
98      8           1
99      9           1
100    10           1
101    11           1
102    12           1
103    13           1
104    14           1
105    15           1
106    16           1
107    17           1
108    18           1
109    19           1
110    20           1
111    21           1

[112 rows x 2 columns]

In [41]:
X_predict = predict_matrix.as_matrix(columns=['hour','is_workday'])
y10_predict = clf10.predict(X_predict)
print(y10_predict)
y15_predict = clf15.predict(X_predict)
print(y15_predict)

[  714.31152766  2059.92164364  2816.0860698   2729.07168743  2665.81007038
  2293.84986617  2112.8218574   2345.98096262  2430.35915103  2407.27759697
  2618.71894284  2725.97827519  2380.1962807   1751.02637485  1611.56572168
  1406.92857073   714.31152766  2059.92164364  2816.0860698   2729.07168743
  2665.81007038  2293.84986617  2112.8218574   2345.98096262  2430.35915103
  2407.27759697  2618.71894284  2725.97827519  2380.1962807   1751.02637485
  1611.56572168  1406.92857073   714.31152766  2059.92164364  2816.0860698
  2729.07168743  2665.81007038  2293.84986617  2112.8218574   2345.98096262
  2430.35915103  2407.27759697  2618.71894284  2725.97827519  2380.1962807
  1751.02637485  1611.56572168  1406.92857073  1434.91297417  4537.9823588
  4822.58212036  3300.75009945  2661.83616514  2025.6701662   1807.85196001
  2026.83158952  2141.5641056   2365.13020445  2751.76292321  3686.78941525
  3527.83152337  1988.03315313  1520.61857076  1366.65630784  1434.91297417
  4537.9823588   4822.58212036  3300.75009945  2661.83616514  2025.6701662
  1807.85196001  2026.83158952  2141.5641056   2365.13020445  2751.76292321
  3686.78941525  3527.83152337  1988.03315313  1520.61857076  1366.65630784
  1434.91297417  4537.9823588   4822.58212036  3300.75009945  2661.83616514
  2025.6701662   1807.85196001  2026.83158952  2141.5641056   2365.13020445
  2751.76292321  3686.78941525  3527.83152337  1988.03315313  1520.61857076
  1366.65630784  1434.91297417  4537.9823588   4822.58212036  3300.75009945
  2661.83616514  2025.6701662   1807.85196001  2026.83158952  2141.5641056
  2365.13020445  2751.76292321  3686.78941525  3527.83152337  1988.03315313
  1520.61857076  1366.65630784]
[  296.81595069  1080.80050844  1679.85074159  1501.59491075  1331.65554548
  1158.2825724    926.17591052  1028.18231255  1098.69536769  1050.41739738
  1223.75814483  1659.48398644  1609.60993736  1107.76503155   927.39943124
   744.49156524   296.81595069  1080.80050844  1679.85074159  1501.59491075
  1331.65554548  1158.2825724    926.17591052  1028.18231255  1098.69536769
  1050.41739738  1223.75814483  1659.48398644  1609.60993736  1107.76503155
   927.39943124   744.49156524   296.81595069  1080.80050844  1679.85074159
  1501.59491075  1331.65554548  1158.2825724    926.17591052  1028.18231255
  1098.69536769  1050.41739738  1223.75814483  1659.48398644  1609.60993736
  1107.76503155   927.39943124   744.49156524   535.56234404  1896.03385317
  2338.93642047  1500.34250431  1115.97837242   906.57703594   729.27461006
   858.55040668   951.47508321   918.17558044  1145.64929287  1731.76854288
  1970.95662927  1212.1005108    813.37820484   735.75726104   535.56234404
  1896.03385317  2338.93642047  1500.34250431  1115.97837242   906.57703594
   729.27461006   858.55040668   951.47508321   918.17558044  1145.64929287
  1731.76854288  1970.95662927  1212.1005108    813.37820484   735.75726104
   535.56234404  1896.03385317  2338.93642047  1500.34250431  1115.97837242
   906.57703594   729.27461006   858.55040668   951.47508321   918.17558044
  1145.64929287  1731.76854288  1970.95662927  1212.1005108    813.37820484
   735.75726104   535.56234404  1896.03385317  2338.93642047  1500.34250431
  1115.97837242   906.57703594   729.27461006   858.55040668   951.47508321
   918.17558044  1145.64929287  1731.76854288  1970.95662927  1212.1005108
   813.37820484   735.75726104]

In [30]:
y_predict.T.shape

(112,)

In [42]:
import numpy as np
np.savetxt('line10_y.txt', y10_predict.T,fmt='%d')
np.savetxt('line15_y.txt', y15_predict.T,fmt='%d')